<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basit Web Sitesi</title>
    <link rel="stylesheet" href="{{ url_for ( 'static' , filename='style.css') }}">
</head>
<body>
    <h3>Bu Son HTML dersim</h3>
    <br>
    <br>
    <h4>Hakkımda</h4>
    <p>Ben Hasan Bayram HTML öğreniyorum ve sonra CSS öğreneceğim. Web Developer üzerine çalışıyorum.</p>
    <hr>
    <p>En sevdiğim şeyler</p>
    <ul>
        <li>Yazılım</li>
        <li>Makale okuma</li>
        <li>Mobile Oyunlar</li>
    </ul>

    <a href="https://www.youtube.com">YouTube</a>
    <br>
    <br>
    <hr>

    <img src="fotograf/evhp8vcrxlee1.png" width="400" height="400" alt="burda yazı var">
    <footer>
        <p>Teşekkürler</p>
    </footer>
</body>
</html>